/*
PhpStorm base php by <mestri>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0;
  background: transparent;
  color: black;
}

.hljs-comment{
  color: rgb(128, 128, 128);
}

.hljs-number,
.hljs-name,
.hljs-tag,
.hljs-attribute{
  color: rgb(0, 0, 255);
}

.hljs-quote,
.hljs-variable,
.hljs-string{
  color: #008000;
}

.hljs-keyword,
.hljs-built_in,
.hljs-selector-tag,
.hljs-selector-class{
  color: rgb(0, 0, 128);
  font-weight: bold;
}

.hljs-string{
  font-weight: bold;
}

.hljs-title{
  color: #000;
}

.hljs-attribute{
  font-weight: bold;
}

.hljs-literal{
  color: rgb(0, 0, 128);
  font-weight: bold;
}

.hljs-section{
  color: rgb(102, 14, 122);
  font-weight: bold;
  font-style: italic;
}

.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515;
}


.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta{
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis{
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}