.fields-md-context{

}

.fields-md-context > textarea{
    display: none !important;
}

.fields-md-context > .fields-md-editor > .fields-md-menu{
    height: auto !important;
    padding: 5px 7px;
}

.fields-md-context > .fields-md-editor > .fields-md-menu .btn-group-sm .btn i,
.fields-md-context > .fields-md-editor > .fields-md-menu .btn-sm i{
    line-height: inherit;
}

.fields-md-context > .fields-md-editor{
    height: auto !important;
    padding: 0 !important;
}

.fields-md-context > .fields-md-editor > .fields-md-autoheight{
    height: auto !important;
    padding: 0 !important;
    position: relative;
    display: block;
}

.fields-md-context > .fields-md-editor > .fields-md-autoheight > .fields-md-editable,
.fields-md-context > .fields-md-editor > .fields-md-autoheight > .fields-md-amostra{
    line-height: 1.3em !important;
    letter-spacing: 0 !important;
    float: none !important;
    height: auto !important;
    display: block !important;
    margin: 0 !important;
    box-shadow: none!important;
    outline: none !important;
    border: none !important;
    font-family: monospace !important;

    min-height: 8em;
    overflow: hidden;

    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.fields-md-context > .fields-md-editor > .fields-md-autoheight > .fields-md-editable{
    position: absolute !important;
    height: 100% !important;
    resize: none !important;
    background: none !important;
    color: transparent;
    caret-color: rgba(0,0,0,1);
}