

.select2-tagUnica + .select2-container > .selection > .select2-selection{
    float: none;
}

.select2-tagUnica + .select2-container > .selection > .select2-selection > .select2-selection__rendered{
    display: block;
    height: 2.25rem;
    padding: 0.375rem 0.75rem;
}

.select2-tagUnica + .select2-container > .selection > .select2-selection > .select2-selection__rendered > .select2-selection__choice{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0;
    display: inline-block;
    float: none;
}

.select2-tagUnica + .select2-container > .selection > .select2-selection > .select2-selection__rendered > .select2-selection__choice > .select2-selection__choice__remove{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 2.25rem;
    font-size: 1rem;
    margin: 0 9px 0 0;
    padding: 0;
}

.select2-tagUnica + .select2-container > .selection > .select2-selection > .select2-selection__rendered > .select2-search{
    display: inline-block;
    float: none;
}

.select2-tagUnica + .select2-container > .selection > .select2-selection > .select2-selection__rendered > .select2-selection__choice + .select2-search{
    display: none;
}

.select2-tagUnica + .select2-container > .selection > .select2-selection > .select2-selection__rendered > .select2-search > .select2-search__field{
    margin: 0;
}






.select2-tagLista + .select2-container > .selection > .select2-selection.select2-selection--multiple > .select2-selection__rendered{
    padding: 0;
}

.select2-tagLista + .select2-container > .selection > .select2-selection--multiple > .select2-selection__rendered > .select2-selection__choice,
.select2-tagLista + .select2-container > .selection > .select2-selection--multiple > .select2-selection__rendered > .select2-search{
    background: none;
    border: none;
    margin: 0;
    padding: 0 1.5rem 0 0.75rem;
    min-height: 32px;
    line-height: 32px;
    display: block;
    position: relative;
    float: none;
    color: inherit;
    width: 100%;
}

.select2-tagLista + .select2-container > .selection > .select2-selection--multiple > .select2-selection__rendered > .select2-selection__choice > .select2-selection__choice__remove{
    position: absolute;
    top: 0;
    left: calc(100% - 1.5rem);
    width: 1.5rem;
    min-height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: inherit;
    margin: 0;
    padding-left: 0.375rem;
}

.select2-tagLista + .select2-container > .selection > .select2-selection--multiple > .select2-selection__rendered > .select2-search.select2-search--inline > .select2-search__field{
    width: 100% !important;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    height: auto;
}