[data-toggle="collapse-panel"] i{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);

    transition: transform .3s, -webkit-transform .3s, -ms-transform .3s;
}

[data-toggle="collapse-panel"].collapsed i{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.panel-context .ui-sortable-helper{
    opacity: .80;
}

.table a{
    color: inherit !important;
}