.fields-panel-context{

}

.fields-panel-context > .panel-group > .card > .card-header{
    padding: 0;
}

.fields-panel-context > .panel-group > .card > .card-header > .fields-panel-card-header-padding{
    padding: .5rem;
}

.fields-panel-context > .panel-group > .card > .card-body{
    padding-top: 0;
    padding-bottom: 0;
}

.fields-panel-context > .panel-group > .card > .card-body:before,
.fields-panel-context > .panel-group > .card > .card-body:after{
    content: '';
    display: block;
}

.fields-panel-context > .panel-group > .card > .card-body:before{
    margin-bottom: 1.25rem;
}

.fields-panel-context > .panel-group > .card > .card-body:after{
    margin-top: 1.25rem;
}

.fields-panel-context .fields-panel-add-context{
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

.fields-panel-context .fields-panel-add-header{
    border: none !important;
}

.fields-panel-context .fields-panel-add-header i{
    transition: transform ease-in-out .3s;
}

.fields-panel-context .fields-panel-add-header.collapsed i{
    transform: rotate(45grad);
}

.fields-panel-context .fields-panel-add-list{
    list-style: none;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

.fields-panel-context .fields-panel-add-list li ~ li{
    margin-top: 5px;
}

.fields-panel-context .fields-panel-clouse{
    display: inline-block;
    height: 1em;
    width: 1em;
    position: relative;
}

.fields-panel-context .fields-panel-clouse:before,
.fields-panel-context .fields-panel-clouse:after{
    content: '';

    height: 0;
    width: .7em;
    border-radius: 5px;
    border: 1px solid #000;

    position: absolute;
    top: 33%;
    transition: all ease-in-out 333ms;
}

.fields-panel-context .fields-panel-clouse:before{
    left: 0;
    transform-origin: 1px 1px;
    transform: rotate(45deg);
}

.fields-panel-context .fields-panel-clouse:after{
    left: calc(100% - 2px);
    transform-origin: 1px calc(100% - 1px);
    transform: rotate(135deg);
}

button.collapsed > .fields-panel-clouse:before,
button.collapsed > .fields-panel-clouse:after{
    top: 12.5%;
    width: 1.35em;
}

.fields-panel-context .fields-panel-btn-tab{
    position: relative;
}

.fields-panel-context .fields-panel-btn-tab .btn{
    padding-right: 0;
    padding-left: 0;
    width: 2.5em;
}

.fields-panel-context .fields-panel-btn-tab > .btn-sortable-handle + [data-toggle="del-panel"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease-in-out 333ms;
    pointer-events: none;
}

div.card.collapsed
> div.card-header
> div.fields-panel-card-header-padding
> div.fields-panel-input-group
> div:nth-child(1)
> div.fields-panel-btn-tab
> samp.btn-sortable-handle
+ [data-toggle="del-panel"]{
    pointer-events: all;
    opacity: 1;
}


.fields-panel-input-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

.fields-panel-input-group .fields-panel-input-group-item{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.fields-panel-input-group .fields-panel-input-group-item:nth-child(2){
    flex: 1 1 auto;
    align-self: center;
}


.fields-panel-input-group .fields-panel-input-group-item + .fields-panel-input-group-item{
    margin-left: 5px;
}