/**
*
* API navigi - lliure
*
* @Versão 6.0
* @Pacote lliure
* @Entre em contato com o desenvolvedor <jomadee@glliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

#navigi{
    display: flex;
    flex-wrap: wrap;
}

#navigi[data-exibicao="icone"]{
    margin: -3px;
}

#navigi .load{
    float: left;
    width: 100%;
    text-align: center;
}

#navigi div.navigi_areaIcones{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



/******		listagem em icones	*******/
div.navigi_item{
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
}

div.navigi_item_main{
    position: relative;
}

div.navigi_item_padding{
    padding: 3px;
}

div.navigi_item_padding_main{
    width: 100%;
    position: relative;
}

div.navigi_item_content{
    cursor: pointer;
    position: relative;

    padding: 10px;
    border-radius: 5px;
}


div.navigi_item_content:hover {
    background: rgba(0, 0, 0, .04);
}

div.navigi_item.navigi_selecionado div.navigi_item_content{
    background: rgba(0, 0, 0, .12);
}

div.navigi_item_content .navigi_ico{
    display: block;
    width: 100%;
    padding-top: 100%;
    position: relative;
}

div.navigi_item_content .navigi_ico .navigi_fa,
div.navigi_item_content .navigi_ico .navig_thumb{
    /* -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 5px rgba(0,0,0,.05); */
    /* box-shadow:         inset 0 0 15px rgba(0,0,0,.1), inset 0 0 5px rgba(0,0,0,.05); */
    /* background:         rgba(0, 0, 0, .04); */

    /* border: 1px solid rgba(0, 0, 0, .15); */
}

div.navigi_item_content .navigi_ico .navigi_fa{
    color: #777;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.navigi_item_content .navigi_ico .navigi_fa:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
}


div.navigi_item_content .navigi_ico .navig_thumb{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

/* div.navigi_item_content .navigi_ico img {
    vertical-align: middle;
    max-width: 100%;
} */

div.navigi_item_content .navigi_nome{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;

    clear: both;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
}

.navigi_menuContextoOpen{
    position: absolute;
    top: 10px;
    right: 10px;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    opacity: .75;
    font-size: 1.5em;
    display: none;
}

div.navigi_item.navigi_selecionado .navigi_menuContextoOpen{
    display: inline-block;
}

#navigi_inp_ren,
#navigi_icone_form_deletando,
.navigi_contextoMenu{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(255,255,255,.90);
    padding: 5px;
    display: none;

    z-index: 10;
}

div.navigi_item.navigi_editandoNome #navigi_inp_ren,
div.navigi_item.navigi_itemDeletando #navigi_icone_form_deletando,
div.navigi_item.navigi_contextoMenuAberto .navigi_contextoMenu{
    display: block;
}

.navigi_contextoMenu .btn-group-vertical{
    width: 100%;
}



/******		listagem em lista	*******/
table.navigi_list{

}

.navigi_loading table.navigi_list{
    display: none;
}

table.navigi_list tr.navigi_tr{
    cursor: pointer;
}

table.navigi_list tr.navigi_tr a{
    color: #000;
}

table.navigi_list tr.navigi_tr td{
    position: relative;
}

table.navigi_list tr.navigi_tr td .navigi_nome{
    position: relative;
    word-break: break-word;
}

table.navigi_list tr.navigi_tr.navigi_editandoNome td .navigi_nome{
    opacity: 0;
}

table.navigi_list tr.navigi_tr td .navigi_rename,
table.navigi_list tr.navigi_tr td .navigi_rename_form{
    background: #fff;
    border: 1px solid #bbb;
    position: absolute;

    z-index: 200;
    top: -2px;
    left: 0;
    right: 0;
    padding: 5px;
    cursor: default;
}

table.table.navigi_list > thead > tr > th,
table.table.navigi_list > tbody > tr > td{
    width: auto;
    min-width: 1%;
}

table.table.navigi_list > thead > tr > th.navigi_cod,
table.table.navigi_list > tbody > tr > td.navigi_cod{
    width: 80px;
}

table.table.navigi_list > thead > tr > th.navigi_ico,
table.table.navigi_list > tbody > tr > td.navigi_ico{
    width: 37px;
    text-align: center;
}

table.table.navigi_list > thead > tr > th.navigi_botoes,
table.table.navigi_list > tbody > tr > td.navigi_botoes{
    width: 1px;
    padding: 2px;
    vertical-align: middle;
    white-space: nowrap;
    text-align: right;
}

table.table.navigi_list > thead > tr > th.navigi_botoes .btn-group > .btn,
table.table.navigi_list > tbody > tr > td.navigi_botoes .btn-group > .btn{
    float: none;
}



/******		PESQUISA	******
#nvg_pesquisa {
    margin-bottom: 20px;
}

#nvg_pesquisa form {
    display: flex;
}

#nvg_pesquisa form input {
    height: 30px;
    order: 1;
}

#nvg_pesquisa form button {
    height: 30px;
    order: 2;
    float: none;
    margin-left: 3px;
} */


.navigi_paginacao .pagination{
    margin-top: 0;
}

.navigi_paginacao .pagination > li > a > i.fa,
.navigi_paginacao .pagination > li > span > i.fa{
    line-height: inherit;
}

#navigi_inp_ren{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.table > thead > tr > th.table-th-filter{
    position: relative;
    vertical-align: middle;
}

.table-th-filter .input-group{
    position: relative;
}

.table-th-filter > label{
    padding: 0;
    margin: 0;
}

.table-th-filter > .input-group > label{
    position: absolute;
    top: 50%;
    left: 0;
    pointer-events: none;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    transition: top .3s, font-size .3s;
}

.table-th-filter .form-control{
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow:         none;
    -webkit-transition: none;
    -o-transition:      none;
    transition:         none;
    outline: none;
    opacity: 0;
}

.table-th-filter .form-control:focus,
.table-th-filter .form-control[value]:not([value=""]){
    opacity: 1;
}


.table-th-filter .form-control:focus ~ label,
.table-th-filter .form-control[value]:not([value=""]) ~ label{
    top: -0.5em;
    font-size: .7em;
}

.table-th-filter .input-group-btn{}

.table-th-filter .input-group-btn button.btn.btn-default{
    margin-top:     -6px;
    margin-right:   -6px;
    margin-bottom:  -6px;
    padding: 6px;
    background: none;
    border: none;
    border-radius: 0;
}

.table-th-filter .input-group-btn button.btn.btn-default i.fa{
    display: none;
}

.table-th-filter .input-group-btn button.btn.btn-default[value=""] i.fa-sort,
.table-th-filter .input-group-btn button.btn.btn-default:not([value]) i.fa-sort,
.table-th-filter .input-group-btn button.btn.btn-default[value="ASC"] i.fa-sort-asc,
.table-th-filter .input-group-btn button.btn.btn-default[value="DESC"] i.fa-sort-desc{
    display: inline-block;
}

.table-th-filter > .btn-group,
.table-th-filter > form > .btn-group{
}

.table-th-filter .input-daterange input{
    text-align: left;
}

.table-th-filter .input-group-addon{
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    opacity: 0;
}

.id-form-filter .btn-form-filter-submit{

}

.id-form-filter .btn-form-filter-submit i:before{
    display: inline-block;
    width: 1em;
    max-width: 1em;
}

.navigi_load{
    display: block;
    text-align: center;
}

[data-after-label]:after{
    content: attr(data-after-label);
}