.field-galeria-form-group{
    padding-left: 35px;
    position: relative;
}

.field-galeria-form-group.ui-sortable-helper{
    opacity: .8;
}

.field-galeria-form-group .btn-galeria-sortable{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    cursor: move;
    width: 35px;
    border-right-width: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.field-galeria-form-group .btn-galeria-sortable i{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.placeholder-galeria-sortable{
    height: auto !important;
    min-height: 100px !important;
    background-color: #eee;
}

.field-galeria-form-group .fileUpBloco > .fileUpThumb.fileUp-image-sm .form-control{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.field-galeria-form-group > .fileUpBloco > .fileUpFile > .input-group-btn > .btn{
    border-radius: 0;
}

.field-galeria-form-group > .fileUpBloco > .fileUpThumb.fileUp-image-lg > .form-control{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}