#cmdGeral #cmdMenuBase{
    position: relative;
}

#cmdGeral #cmdMenuFix{
    position: relative;
}

#cmdGeral.cmdFixTop #cmdMenuFix{
    position: fixed;
    top: 0;
}

#cmdGeral .cmd-right.fixedbot{
    right: 0;
    top: auto;
    bottom: 0;
}

#cmdGeral .cmd-menu,
#cmdGeral .cmd-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#cmdGeral .cmd-menu ul{
    padding-left: 10px;
}

#cmdGeral .cmd-menu a{
    text-decoration: none !important;
}

#cmdGeral .cmd-menu > li > a{
    font-size: 1.2em;
    font-weight: 800;
    padding: 8px 0;
    display: inline-block;
}

#cmdGeral .cmd-menu li > ul{
    margin: 0;
    margin-bottom: .8em;
}