.fields-edittable-resize{
    position: relative;
    display: block;
    background-color: #f5f5f5;
    padding-bottom: 14px;
    overflow: hidden;
}

.fields-edittable-resize:not(.fields-edittable-resize-hover){
    height: auto !important;
}

.fields-edittable-table{
    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 6px;
}

.fields-edittable-table > .fields-edittable-tr{
    display: table-row;
}

.fields-edittable-table > .fields-edittable-tr > .fields-edittable-th,
.fields-edittable-table > .fields-edittable-tr > .fields-edittable-td{
    display: table-cell;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd !important;
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}

.fields-edittable-table > .fields-edittable-tr:first-child > .fields-edittable-th:first-child,
.fields-edittable-table > .fields-edittable-tr:first-child > .fields-edittable-td:first-child{
    border-top-left-radius: 6px;
}

.fields-edittable-table > .fields-edittable-tr:first-child > .fields-edittable-th:last-child,
.fields-edittable-table > .fields-edittable-tr:first-child > .fields-edittable-td:last-child{
    border-top-right-radius: 6px;
}

.fields-edittable-table > .fields-edittable-tr > .fields-edittable-th:last-child,
.fields-edittable-table > .fields-edittable-tr > .fields-edittable-td:last-child{
    border-right-width: 0 !important;
}

.fields-edittable-table > .fields-edittable-tr > .fields-edittable-th{
    font-weight: bold;
    border-top-width: 0 !important;
    border-bottom-width: 1px !important;
}

.fields-edittable-table > .fields-edittable-tr > .fields-edittable-td{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: inherit;
    background-color: #fff;
}

.fields-edittable-resize:not(.fields-edittable-resize-hover) .fields-edittable-tr.fields-edittable-resize-disabled{
    display: none !important;
}

.textareaAutoHeigth{
    height: auto !important;
    padding: 0 !important;
    position: relative;
    display: block;
}

.textareaAutoHeigth > textarea,
.textareaAutoHeigth > div{
    line-height: 1.3em !important;
    letter-spacing: 0 !important;
    float: none !important;
    height: auto !important;
    display: block !important;
    margin: 0 !important;
    box-shadow: none!important;
    outline: none !important;
    border: none !important;
    font-family: monospace !important;
    border-radius: 0 !important;

    min-height: 2em;
    overflow: hidden;

    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.textareaAutoHeigth > textarea{
    position: absolute !important;
    height: 100% !important;
    resize: none !important;
    background: none !important;
    color: rgba(0,0,0, .4);
    caret-color: rgba(0,0,0,1);
}

.fields-edittable-resize-handler {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    padding: 0 1px;
    background-color: rgb(245, 245, 245);
    cursor: n-resize;
    line-height: 5px;
    font-size: 14px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.fields-edittable-resize-handler:before{
    content: '• • •';
    color: #000;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-weight: 300;
    line-height: 6px;
    font-size: 11px;
    text-align: center;
}

.fields-edittable-dropdown-menu{
    display: block !important;
    position: relative !important;
    top: auto;
    left: auto;
    right: auto;
    border: none;
    float: none;
    margin: 0;
    box-shadow: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.fields-edittable-dropdown-menu .divider{
    margin-top:    2px;
    margin-bottom: 2px;
}

.fields-edittable-dropdown-menu.dropdown-menu > li > a{
    padding-left:  10px;
    padding-right: 10px;
}

.fields-edittable-popover-content{
    padding: 0 !important;
}

[data-toggle="fields-edittable-btn-line"]{
    border-radius: 0 !important;
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}