/**
*
* API Fileup - Plugin CMS
*
* @Versão 8.0
* @Pacote lliure
* @Entre em contato com o desenvolvedor <lliure@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/


.fileUpBloco{}

.fileUpBloco .fileUpBloco-btn-del{}

.fileUpBloco input[type="file"]{
	visibility: hidden !important;
	height: 0 !important;
	width: 0 !important;
	opacity: 0 !important;
	display: none !important;
}

.fileUpBloco.fileUpBlocoDel .fileUpBloco-input{
	color: rgba(0, 0, 0, .4);
	text-decoration: line-through;
}

.fileUpBloco .fileUpBloco-btn-up i.fa.fa-upload,
.fileUpBloco .fileUpBloco-btn-crop i.fa.fa-crop,
.fileUpBloco .fileUpBloco-btn-del i.fa.fa-trash-o{
	line-height: inherit !important;
	position: relative;
	vertical-align: top;
}

.fileUpBloco .fileUpBloco-btn-del .fa.fa-check{
	position: absolute;
	right:  -4px;
	bottom:  0;
	font-size: .75em;
	display: none;
}

.fileUpBloco a[disabled]{
    pointer-events: none;
}









.fileUpBloco.fileUpBlocoDel .fileUpBloco-btn-del .fa.fa-check{
	display: block;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg > .form-control{
    height: auto !important;
    padding: 5px;
    position: relative;
    overflow: hidden;
    background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiARkJHDfWMuJRAAAAHElEQVQY02OsZ4CA51CaiQEN0EeABWa/5MC6AwANOAKIHICIgQAAAABJRU5ErkJggg==');
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-image{
	text-align: center;
    height: 200px;
    position: relative;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-image img{
    max-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-infos{
    position: absolute;
    right:  0;
    left:   0;
    bottom: 0;
    padding: 10px;
    color: #fff;

    background: rgba(0,0,0,0.5);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.75) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

    opacity: 0;
    transform: translateY(15px);
    transition: transform 333ms, opacity 333ms;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg:hover .fileUpThumb-infos{
    transform: translateY(0);
    opacity: 1;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-name{
    font-size: 15px;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-data{
    font-size: 12px;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-botons{
    position: absolute;
    right:  10px;
    left:   10px;
    top:    10px;
	text-align: right;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-botons .btn{
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    margin: 0 !important;
    padding: 10px 13px !important;
    min-width: 2.6em;
    display: inline-block;
    text-align: center;

    opacity: 0;
    transform: translateY(-15px);
    transition: transform 333ms, opacity 333ms;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg:hover .fileUpThumb-botons .btn{
    transform: translateY(0);
    opacity: 1;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-botons .btn.btn-bg-defalt:hover{
    background-color: #0074d9;
    color: #fff;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-botons .btn.btn-bg-danger:hover{
    background-color: #d9534f;
    color: #fff;
}

.fileUpBloco > .fileUpThumb.fileUp-image-lg .fileUpThumb-botons .btn.btn-bg-success:hover{
    background-color: #5cb85c;
    color: #fff;
}









.fileUpBloco > .fileUpThumb.fileUp-image-sm .form-control{
    padding: 5px;
}

.fileUpBloco > .fileUpThumb.fileUp-image-sm .fileUpFile-inputDiv{
    display: table;
    width: 100%;
    height: 100%;
}

.fileUpBloco > .fileUpThumb.fileUp-image-sm .fileUpFile-inputDiv-image{
    display: table-cell;
    width: 150px;
    vertical-align: middle;
    text-align: center;
}

.fileUpBloco > .fileUpThumb.fileUp-image-sm .fileUpFile-inputDiv-infos{
    display: table-cell;
    padding-left: 10px;
}

.fileUpBloco > .fileUpThumb.fileUp-image-sm .fileUpFile-inputDiv-image img{
    max-height: 88px;
    max-width: 150px;
}

.fileUpBloco > .fileUpThumb.fileUp-image-sm .input-group-btn button{
    border-radius: 0;
    border-bottom-width: 0;
}

.fileUpBloco > .fileUpThumb.fileUp-image-sm .input-group-btn button:first-child{
    border-top-right-radius: 3px;
}

.fileUpBloco > .fileUpThumb.fileUp-image-sm .input-group-btn button:last-child{
    border-bottom-right-radius: 3px;
    border-bottom-width: 1px;
}



#fileUpModalCrop{
    padding: 0 !important;
}

#fileUpModalCrop > .modal-dialog{
    width: auto;
    height: 100%;
    margin: 0 !important;
    padding: 15px !important;
}

#fileUpModalCrop > .modal-dialog > .modal-content{
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#fileUpModalCrop > .modal-dialog > .modal-content > .modal-body{
    width: 100%;
    padding: 0 !important;

    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#fileUpModalCrop > .modal-dialog > .modal-content > .modal-footer{
    width: 100%;

    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#fileUpModalCropImage{
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
}

#fileUpModalCrop .fileUpModal-body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiARkJHDfWMuJRAAAAHElEQVQY02OsZ4CA51CaiQEN0EeABWa/5MC6AwANOAKIHICIgQAAAABJRU5ErkJggg==');
}

#fileUpModalCropFunctions{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

#fileUpModalCropFunctions-dragMode[data-mode="crop"] .fa-arrows,
#fileUpModalCropFunctions-dragMode[data-mode="move"] .fa-crop{
    display: none;
}

#fileUpModalCropFunctions .btn{
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    margin: 0 !important;
    padding: 10px 13px !important;
    min-width: 2.6em;
    display: inline-block;
    text-align: center;
    opacity: 1 !important;
}

#fileUpModalCropFunctions .btn[disabled]{
    color: rgba(255, 255, 255, .65) !important;
}

#fileUpModalCropFunctions .btn-bg-defalt:hover{
    background-color: #0074d9;
    color: #fff;
}

#fileUpModalCropFunctions .btn-bg-danger:hover{
    background-color: #d9534f;
    color: #fff;
}

#fileUpModalCropFunctions .btn-bg-success:hover{
    background-color: #5cb85c;
    color: #fff;
}